pre {
	width: 500px;
	padding: 10px;
	margin: 10px 0 0;
	overflow: auto;
	overflow-y: hidden;
	font-size: 12px;
	line-height: 20px;
	background: #efefef;
	border: 1px solid #777;
}
pre code {
	padding: 10px;
	color: #333;
}
